body {
    background-color: #6877cf;
    font-family: Arial, sans-serif;
    color: #ffffff;

    width: 960px;
    margin: 0 auto;
}

p {
    text-indent: 1em;
}

h1,
h2,
h3 {
    color: #070711;
    text-align: center;
}

a {
    color: #070711;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.summary {
    text-align: center;
}

.main p {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}